{% extends 'base.html' %}

{% block content %}
    <section class="main">
        <span>Введите номер телефона:</span>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="phone" {% if phone %}value="{{ phone }}"{% else %}value="7**********"{% endif %}>
            <button type="submit">Проверить</button>
        </form>
        {% if number_info %}
            <div class="description">
                <ul class="description__list">
                    <li class="description__item">Оператор: {{ number_info.mobile_operator }}</li>
                    <li class="description__item">Регион: {{ number_info.region }}</li>
                    <li class="description__item">ИНН: {{ number_info.inn }}</li>
                </ul>
            </div>
        {% endif %}
        {% if error %}
            <div class="description">
                <ul class="description__list">
                    <li class="description__item">{{ error }}</li>
                </ul>
            </div>
        {% endif %}
    </section>
{% endblock %}