body{
    background-color: gray;
}

form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

input{
    padding: 15px;
    margin-bottom: 15px;
}

span{
    margin-bottom: 5px;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    width: 300px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    padding: 15px;
}

.description{

}

.description__list{
    padding: 0;
}

.description__item{
    list-style-type: none;
    margin-bottom: 5px;
}

